<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="about content">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, dignissimos maiores nesciunt quis aperiam dicta quos rem commodi veniam corporis.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laborum porro nulla minima quaerat sint, molestias deserunt itaque obcaecati optio numquam quia, iure dolore nihil esse qui dolor earum sequi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quod.
    </p>
  </div>
<%- include('./partials/footer.ejs') %>
</body>
</html>